{
  "project_id": "YOUR_FIREBASE_PROJECT_ID",
  "private_key": "-----BEGIN PRIVATE KEY-----\nPASTE_KEY_HERE\n-----END PRIVATE KEY-----\n",
  "client_email": "firebase-adminsdk-xxxxx@YOUR_FIREBASE_PROJECT_ID.iam.gserviceaccount.com",
  "type": "service_account"
}
